<h1>Devices Available for Rental</h1>

<div class="container">
  <div class="row">
  <% @devices.each do |device| %>
    <div class="col-xs-12 col-sm-4">
      <%= render "shared/card", device_category: device.category, device_name: device.name, device_description: device.description, device_path: device_path(device), edit_path: edit_device_path(device), device: device %>
    </div>
  <% end %>
  </div>
</div>

