<div class="newdevicecontainer">
<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col-lg-10 newdevicecard">
      <h1>Add a new Device for rental</h1>
      <%= render 'form', device: @device %>
    </div>
  </div>
</div>
</div>
