.newdevicecontainer {
  background-image: url("https://images.pexels.com/photos/66134/pexels-photo-66134.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.newdevicecard {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}
