.bookingcontainer {
  background-image: url("https://images.pexels.com/photos/593324/pexels-photo-593324.jpeg?cs=srgb&dl=analogue-background-business-593324.jpg&fm=jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bookingcards {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}
