
  <footer class="footer-distributed">

    <div class="footer-right">

      <a href="#"><i class="fab fa-facebook yellow"></i></a>
      <a href="#"><i class="fab fa-twitter yellow"></i></a>
      <a href="#"><i class="fab fa-linkedin yellow"></i></a>

    </div>

    <div class="footer-left">

      <p class="footer-links">
        <a href="#">Home</a>

        <a href="#">Pricing</a>

        <a href="#">About</a>

        <a href="#">Faq</a>

        <a href="#">Contact</a>
      </p>

      <p>Cameras on Rails &copy; 2018</p>
    </div>

  </footer>
