<% content_for :navbar do %>
  <%= render 'shared/navbar' %>
 <% end %>

<section class="h-100" style="background-image: url(https://images.pexels.com/photos/122400/pexels-photo-122400.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); background-position: center; background-size: cover;">
  <header class="container h-100" id="section1">
    <div class="d-flex align-items-center justify-content-center h-100">
      <div class="fixed" id="mainelement">
        <h1 class="text-center">I want to rent a <span id="banner-typed-text"></span></h1>
        <hr>
        <div class="input-group mb-3">
          <%= form_tag devices_path, method: :get do %>
            <%= text_field_tag :query,
            params[:query],
            class:"form-control",
            placeholder: "I would like to rent..." %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="arrow bounce">
      <a class="fa fa-arrow-down fa-3x" href="#" style="color: #CC0000; size: 20px;"></a>
    </div>
  </header>
</section>

<section class="cards h-100"  style="background-image: url(https://images.pexels.com/photos/965625/pexels-photo-965625.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); background-position: center; background-size: cover;">
  <header class="container h-100">
    <div class="row align-items-center justify-content-center h-100">
      <div class="col-sm-12 col-md-4">
        <div class="flip">
          <div class="front" style="background-image: url(https://images.pexels.com/photos/122400/pexels-photo-122400.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
           <h1 class="text-center">Cameras</h1>
           </div>
           <div class="back">
             <h2 class="text-center">Cameras</h2>
             <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
             <button type="button" class="btn btn-outline-warning btn-lg btn-block">View Cameras</button>
           </div>
         </div>
       </div>
       <div class="col-sm-12 col-md-4">
        <div class="flip">
          <div class="front" style="background-image: url(https://images.pexels.com/photos/414781/pexels-photo-414781.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); background-position: center; background-size: cover;">
          <h1 class="text-center">Lens</h1>
          </div>
          <div class="back">
           <h2 class="text-center">Lens</h2>
           <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
           <button type="button" class="btn btn-outline-warning btn-lg btn-block">View Len's</button>
         </div>
       </div>
     </div>
     <div class="col-sm-12 col-md-4">
      <div class="flip">
        <div class="front" style="background-image: url(https://images.pexels.com/photos/1034812/pexels-photo-1034812.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
         <h1 class="text-center">Drone</h1>
         </div>
         <div class="back">
           <h2 class="text-center">Drone</h2>
           <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
           <button type="button" class="btn btn-outline-warning btn-lg btn-block">View Drone's</button>
         </div>
       </div>
     </div>
   </div>
  </header>
</section>
