.grid {
  display: grid;
  height: calc(100vh - 70px);
  grid-template-columns: 350px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.main-section {
  grid-row: 1 / span 3;
  grid-column: 1 / span 1;
}

.about-section {
  grid-row: 1 / span 1;
  grid-column: 2 /span 2;
}

.grid-product-info {
  display: grid;
  height: calc(100vh - 70px);
  grid-template-columns: 350px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.photo-section {
  grid-row: 1 /span 3;
  grid-column: 1 / span 1;
}


